@page "/"
@using RmsApp.Services
@inject IFlashMessageService FlashMessageService

<PageTitle>Index</PageTitle>

<!-- Hero -->
    <div class="section section-header pb-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-2 mb-4">Member of Restaurant Network</h1>
                    <p class="lead mb-5">The Restaurant Network is an independent branding & experience company helping people order dishes online from all restaurants</p>
                    @if (!string.IsNullOrEmpty(FlashMessageService.SuccessMessage))
                    {
                        <div class="alert alert-success">
                            @FlashMessageService.SuccessMessage
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(FlashMessageService.FailureMessage))
                    {
                        <div class="alert alert-danger">
                            @FlashMessageService.FailureMessage
                        </div>
                    }
                     @if (!AuthService.IsLoggedIn)
            {
                    <a class=" btn btn-primary btn-lg" href="signin">Sign In Here</a>
                } else {
                    <p>You have already logged in.</p>
                }
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 text-center">
                    <!-- Visit Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                            <span class="far fa-smile-beam"></span>
                        </div>
                        <h3 class="h5">Restaurants</h3>
                        <span class="counter display-3 text-gray d-block">10000</span>
                    </div>
                    <!-- End of Visit Box -->
                </div>
                <div class="col-12 col-sm-4 col-lg-4 text-center">
                    <!-- Call Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                            <span class="far fa-eye"></span>
                        </div>
                        <h3 class="h5">Customers</h3>
                        <span class="counter display-3 text-gray d-block">4800000</span>
                    </div>
                    <!-- End of Call Box -->
                </div>
                <div class="col-12 col-sm-4 col-lg-4 text-center">
                    <!-- Email Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                            <span class="fas fa-globe-europe"></span>
                        </div>
                        <h3 class="h5">Countries</h3>
                        <span class="counter display-3 text-gray d-block">80</span>
                    </div>
                    <!-- End of Email Box -->
                </div>
            </div>
        </div>
    </section>
    <hr>

  <div class="section section-header pb-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                   <br>
                    <p class="lead mb-5">24-7 Support for Restaurant: 800-000-0000</p>
                     
                </div>
            </div>
        </div>
    </div>
