@inherits LayoutComponentBase
@using RmsApp.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject IFlashMessageService FlashMessageService

<div class="page">
     @if (AuthService.IsLoggedIn)
        {
    <div class="sidebar">
        <NavMenu />   
    </div>
        }
    <main>
        @if (AuthService.IsLoggedIn)
        {
            <div class="top-row px-4">
                <a href="" @onclick="Logout">Logout</a>
        </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    @* private AuthService authService = new AuthService(); *@

    private void Logout()
    {
        AuthService.IsLoggedIn = false;
         FlashMessageService.SetSuccessMessage("Successfully logged out..");
        NavigationManager.NavigateTo("/");
    }
}


